.card {
    background: purple;
    width: 340px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.customer-information {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

h2 {
    font-size: medium;
    margin:0%;
}

p {
    font-size: small;
    margin: 0%;
}

.data-group {
    margin: 5px 0px;
}