.card {
    background: #0077B6;
    width: 340px;
    border-radius: 7px;
    margin: 10px;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
}

.customer-information {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

h2 {
    font-size: medium;
    margin:0%;
}

p {
    font-size: small;
    margin: 0%;
}

.data-group {
    margin: 5px 0px;
}

img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
}

.booked {
    color: white;
    text-decoration: underline;
}
.cancelled {
    color: red;
    text-decoration: line-through;
}

#remove-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0%;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        opacity: 100%;
        color: red;
    }
}

.statusEdit {
    display: flex;
    flex-direction: column;
}

.divider {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

#edit-btn {
    color: white;
    margin-left: 10px;
    margin-top: 3px;
    border: none;
    background-color: #005a8b;
    height: 14px;
    width: 45px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.saveEdit {
    display: flex;
    flex-direction: column;
}

@media (320px <= width <= 425px) {
    .card {
        width: 280px;
        height: 260px;
    }
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 0.7em;
    }
}