<div class="card">
    <div class="card-content">
        <div class="img-wrapper">            
            <button id="remove-btn" (click)="removeEnquiry()">Click to remove</button>
            <img src="{{enquiry.imageURL}}" alt="Image of the cruise to {{enquiry.destination}}">
        </div>
        <div class="customer-information">
            <div class="group">
                <div class="data-group">
                    <h2>Customer name</h2>
                    <p>{{enquiry.customerName}}</p>
                </div>
                <div class="data-group">
                    <h2>Destination</h2>
                    <p>{{ enquiry.destination }}</p>
                </div>
                <div class="data-group">
                    <div class="statusEdit">
                        <div class="divider">
                            <h2>Status</h2>
                            @if(!isEditing) {
                            <button (click)="startEditing()" id="edit-btn">Edit</button>
                            }
    
                        </div>
                        <p [class.booked]="enquiry.status == 'Booked'" [class.cancelled]="enquiry.status == 'Cancelled'" [class.hidden]="isEditing == true">
                            {{ enquiry.status }}
                        </p>
                        @if (isEditing) {
                            <div class="saveEdit">
                                <select formControlName="status" required (change)="statusChanged($event)">
                                    <option value="" disabled selected>Select status</option>
                                    <option value="Booked">Booked</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Contacted">Contacted</option>
                                    <option value="Quoted">Quoted</option>
                                </select>
                                <button (click)="saveStatus()">Save</button>
                            </div>
                        } 
                    </div>
                </div>
            </div>    
            <div class="group">
                <div class="data-group">
                    <h2>Customer budget</h2>
                    <p>£{{ enquiry.budget }}</p>
                </div>
                <div class="data-group">
                    <h2>Stay (Nights)</h2>
                    <p>{{ enquiry.nights }}</p>
                </div>
                <div class="data-group">
                    <h2>Date to travel</h2>
                    <p>{{ enquiry.travelDate }}</p>
                </div>
            </div>
        </div>
</div>